body {
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: 'Arial', serif;
}

.warning {
	border: 5px solid red;
}

.list {
	width: 80%;
	margin: 0 auto;
}

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
}

table, td, th {
	border: solid 1px black;
	padding: 10px;
}

input{
	margin-right:10px;
}